[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dotenv = "*"
scrapy-fake-useragent = "*"
bs4 = "*"
selenium = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
